<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method = 'post'>

        <label>
            <select name = 'category'>
                <option value = 'meetup'>Meetup</option>
                <option value = 'networking'>Networking</option>
                <option value = 'conference'>Conference</option>
            </select>
        </label>
        <input type = 'submit' value = 'Submit'>
    </form>
</body>
</html>